.chat-side__groups_list
  /グループリスト仮置き
  = link_to '/' do
    .chat-side__group
      .chat-side__group-name
        グループ名
      .chat-side__group-message
        メッセージ
  = link_to '/' do
    .chat-side__group
      .chat-side__group-name
        グループ名
      .chat-side__group-message
        メッセージ
